#filter-area {
  margin: 20px auto;
}
#array-container {
  margin: 20px auto;
  height: 650px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 5px solid black;
}

#array-container div {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: #343a40;
  text-align: center;
  color: white;
}

.sliders {
  background-color: #f0ffff;
  padding: 5px 10px;
  border-radius: 10px;
}

.isSorting{
  opacity: 0.5;
}
