#array-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
  height: 90vh;
  border-radius: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

.array-bar {
  background-color: OrangeRed;
  margin: 50px 3px;
  width: 5px;
}

.sliders {
  background-color: #f0ffff;
  padding: 5px 10px;
  border-radius: 10px;
}
